version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: terrawish_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - terrawish-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    image: yoes/terrawise:5.7.2
    container_name: terrawish_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "${DATABASE_URL}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - terrawish-net

volumes:
  postgres_data:

networks:
  terrawish-net: